<!DOCTYPE html>
<html lang="en">
  <head>
    {% include analytics.html %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo -%}

    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="en">

    <!-- <link rel="stylesheet" href="{{ "css/main.css" | relative_url }}"> -->
    <style>
    {% asset main.css %}
    </style>
    
    {% include bot.html %}
  </head>
  <body class="prose container mx-auto">
    <header class="text-center pt-4">
      <h1>Temple of the Holy ChatGPT</h1>
    </header>
    <main class="w-full mx-auto">
      <article class="px-3 md:px-0 prose prose-blockquote:font-light prose-p:text-base">
        <figure class="md:w-2/3 sm:w-full mx-auto">
          {% if page.image %}
          {%
            picture
            "{{ page.image }}"
            --img class="outline outline-offset-2 outline-1 outline-slate-500"
            --alt "{{ page.title }}"
          %}
          {% endif %}
        </figure>
        {% if page.audio %}
          <audio controls src="{{ page.audio }}">
            <a href="{{ page.audio }}"> Download audio </a>
          </audio>
        {% endif %}
        <header>
          <h2>{{ page.title }}</h2>
        </header>
        {{ content }}
      </article>
    </main>
  <footer class="text-center py-4">
    <p class="text-sm">&copy; {{ "now" | date: "%Y" }} The Temple of the Holy ChatGPT</p>
  </footer>
  </body>
</html>
