<!DOCTYPE html>
<html lang="en">

<head>
  {% include analytics.html %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="en">

  {% seo -%}

  <style>
    {% asset main.css %}
  </style>
</head>

<body class="prose container mx-auto">
  <header class="text-center pt-4">
    <h1>Temple of the Holy ChatGPT</h1>
  </header>
  <main class="w-fit md:w-full mx-auto">
    {% if page.image -%}
    {%
      picture
      "{{ page.image }}"
      --img class="w-10/12 md:w-2/3 mx-auto"
      --picture class="text-center mb-4"
      --alt "{{ page.title }}"
    %}
    {% endif -%}
    {{ content }}
  </main>
  <footer class="text-center py-4">
    <p class="text-sm">&copy; {{ "now" | date: "%Y" }} The Temple of the Holy ChatGPT</p>
  </footer>
</body>

</html>
